/CheckerType.class
/CheckersBoard$1.class
/CheckersBoard$2.class
/CheckersBoard.class
/CheckersController$1.class
/CheckersController.class
/CheckersView$1.class
/CheckersView.class
/Move.class
/RandomMoveStrategy.class
